<h1>Cliente Edit:</h1>
<br/>
<form class="formControl" [formGroup]="clienteForm">
  <div>
    <span class="formControl">Nome: <input class="formControl" formControlName="nome"></span>
  </div>
  <div>
    <span class="formControl">Empresa: <input class="formControl" formControlName="empresa"></span>
  </div>
  <div>
    <span class="formControl">CNPJ: <input class="formControl" formControlName="cnpj"></span>
  </div>
</form>
<button (click)="saveForm()">Save</button>
<button (click)="resetForm()">Reset</button>
