<h1>Ordem de Produção Edit:</h1>
<br/>
<form class="formControl" [formGroup]="ordemproducaoForm">
  <div>
    <span class="formControl">Cliente: <input class="formControl" formControlName="cliente"></span>
  </div>
  <div>
    <span class="formControl">Produto: <input class="formControl" formControlName="produto"></span>
  </div>
  <div>
    <span class="formControl">Maquina: <input class="formControl" formControlName="maquina"></span>
  </div>
  <div>
    <span class="formControl">Funcionario: <input class="formControl" formControlName="funcionario"></span>
  </div>
  <div>
    <span class="formControl">Quantidade: <input class="formControl" formControlName="quantidade"></span>
  </div>
</form>
<button (click)="saveForm()">Save</button>
<button (click)="resetForm()">Reset</button>