<p>cliente works!</p>
<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Empresa</th>
        <th>CNPJ</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.nome }}</td>
        <td>{{ data.empresa }}</td>
        <td>{{ data.cnpj }}</td>
        <td>
          <a [routerLink]="['/imovel', data.id]" nz-button nzType="link">Edit</a>
        </td>
      </tr>
    </tbody>
  </nz-table>